APP_HOST=
APP_PORT=3000

KEY_DIRECTORY=./var/certificate
HTTPS_KEY=local-infra.key
HTTPS_CERT=local-infra.crt

ENABLE_CORS=false
ENABLE_SWAGGER=false

# Logger
FILE_LOG_LEVEL=debug
CONSOLE_LOG_LEVEL=debug
LOG_DIRECTORY=./var/logs

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Course Withdrawal DB
COURSE_WITHDRAWAL_DB_HOST=
COURSE_WITHDRAWAL_DB_PORT=5432
COURSE_WITHDRAWAL_DB_USERNAME=
COURSE_WITHDRAWAL_DB_PASSWORD=
COURSE_WITHDRAWAL_DB_DATABASE=

# SIS DB
SIS_DB_HOST=
SIS_DB_PORT=5432
SIS_DB_USERNAME=
SIS_DB_PASSWORD=
SIS_DB_DATABASE=

# External SIS DB
EXTERNAL_SIS_DB_HOST=
EXTERNAL_SIS_DB_PORT=5432
EXTERNAL_SIS_DB_USERNAME=
EXTERNAL_SIS_DB_PASSWORD=
EXTERNAL_SIS_DB_DATABASE=

# session
SESSION_SECRET=

# Canvas
CANVAS_HOST=
CANVAS_ADMIN_ACCESS_TOKEN=

# Canvas OAuth2
CANVAS_OAUTH2_CLIENT_ID=
CANVAS_OAUTH2_CLIENT_SECRET=

# LTI v1.3
LTI_V1P3_CLIENT_ID=
LTI_V1P3_DEPLOYMENT_IDS=
LTI_V1P3_OIDC_AUTH_URL=
LTI_V1P3_JWKS_URL=
LTI_V1P3_ISSUER=
LTI_V1P3_SECRET=
